.App,
body,
#root {
  text-align: start;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pageofdriver {
  margin: 4rem 0rem 0rem 0rem;
}
.list-of-traveler {
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 2rem 0rem 0rem 0rem;
}
.list-of-vehicule {
  display: flex;
  margin: 3rem 0rem 0rem 0rem;
  padding: 0;
  justify-content: center;
}
.traveler {
  display: flex;
  min-width: 15rem;
  max-width: 15rem;
  min-height: 2rem;
  border: solid;
  border-radius: 1rem;
  padding: 0.9rem 0.4rem 0.2rem 0.4rem;
}
.name-traveler {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  padding: 0rem 0rem 0rem 1rem;
}
.list-start-end {
  padding: 0.5rem 0rem 0.5rem 1rem;
}
.list-start {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
}
.list-end {
  list-style-type: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7rem;
}
.list-input {
  margin: 0.4rem;
}
